<% unless defined?(@lat_lng) != nil %>
	<script>
		console.log(document.cookie);
		if(document.cookie.indexOf('lat_lng=') == -1){
			getGeoLocation();
		}
	</script>
<% end %>
<h1>New Topik</h1>
<%= form_for(@topic) do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title, required: true %>
	</p>

	<p>
		<%= f.label :content %><br>
		<%= f.text_area :content, required: true %>
		<%= f.label "4MB file limit"  %>
		<%= f.file_field :attach %>
	</p>
	<%= f.submit "Create Topik!" %>
<% end %>
