<h1>New post</h1>
<%= form_for([@topic, @post]) do |f| %>
	<p>
		<%= f.label :content %><br>
		<%= f.text_area :content, :id => 'post-content-form', :class => 'post-form', required: true %>
	</p>
	<p>
		<%= f.label "4MB file limit"  %>
		<%= f.file_field :attach %>
	</p>
	<%= f.submit "Create post!" %>
<% end %>
