<% unless defined?(@lat_lng) != nil %>
	<script>
		if(document.cookie.indexOf('lat_lng=') == -1){
			getGeoLocation();
		}
	</script>
<% end %>

<title>Topik!</title>

	<%= link_to "Create New Topik", new_topic_path %>

	<%= form_tag topics_path, :method => :get do %>
	<p>
		<%= text_field_tag :query, params[:query] %> <%= submit_tag "Search Topics!" %>
	</p>
	<% end %>
	
	<% if @topics.nil? %>
		Use the field above to search for interesting topics
	<% elsif @topics.empty? %>
		Sorry, I didn't find that. :(
	<% else %>
		<% for topik in @topics %>
			<div class="result-wrapper">
				<div><%= topik.title %></div>
				<div><%= topik.content %></div>
				<div><%= topik.posts.length %> posts</div>
				<% if @lat_lng.nil? %>
					<div>Posted <%= time_since(topik.unix_time) %> ago</div>
				<% else %>
					<div>Posted: <%= format_time(topik.unix_time, @lat_lng[0], @lat_lng[1]) %></div>
				<% end %>
			</div>
		<% end %>
	<% end %>
