<body>
	<%= link_to "Create New Topik", new_topic_path %>

	<%= form_tag root_path, :method => :get do %>
	<p>
		<%= text_field_tag :query, params[:query] %> <%= submit_tag "Search Topics!" %>
	</p>
	<% end %>
	
	<% if @topics.nil? %>
		Use the field above to search for interesting topics
	<% elsif @topics.empty? %>
		Sorry, I didn't find that. :(
	<% else %>
		<% for topik in @topics %>
			<div class="result-container">
				<div class="result-wrapper">
					<div class="query-title"><%= link_to topik.title, topik %></div>
					
					<div class="post-content">	
						<% text = post_linkifier(topik.content) %>
						<% text.each do |piece| %>
							<% if (piece =~ /<a href='#\d+'>@\d+<\/a>/).nil? && (piece =~ /<div class='quote'>/).nil? && (piece =~ /<\/div>/).nil? %>
								<%= piece %>
							<% else %>
								<%= piece.html_safe %>
							<% end %>
						<% end %>
					</div>
					
					<% unless topik.attach.file.nil? %>
						<div class="post-thumb"><%= link_to image_tag(topik.attach.url(:thumb).to_s), topik.attach.url %></div>
					<% end %>
					<div><%= topik.posts.length %> posts</div>
					<% if @lat_lng.nil? %>
						<div>Posted <%= time_since(topik.unix_time) %> ago</div>
					<% else %>
						<div>Posted: <%= format_time(topik.unix_time, @lat_lng[0], @lat_lng[1]) %></div>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
</body>
